<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Applications/Anemone.app</string>
	<string>/Applications/Cydia.app</string>
	<string>/Applications/SafeMode.app</string>
	<string>/Applications/Sileo.app</string>
	<string>/Applications/vnodebypass.app/Info.plist</string>
	<string>/Applications/vnodebypass.app/vnodebypass</string>
	<string>/Applications/Zebra.app</string>
	<string>/bin/bash</string>
	<string>/bin/zsh</string>
	<string>/bin/bunzip2</string>
	<string>/bin/bzip2</string>
	<string>/bin/cat</string>
	<string>/bin/chgrp</string>
	<string>/bin/chmod</string>
	<string>/bin/chown</string>
	<string>/bin/cp</string>
	<string>/bin/grep</string>
	<string>/bin/gzip</string>
	<string>/bin/kill</string>
	<string>/bin/ln</string>
	<string>/bin/ls</string>
	<string>/bin/mkdir</string>
	<string>/bin/mv</string>
	<string>/bin/sed</string>
	<string>/bin/sh</string>
	<string>/bin/su</string>
	<string>/bin/tar</string>
	<string>/binpack</string>
	<string>/bootstrap</string>
	<string>/chimera</string>
	<string>/electra</string>
	<string>/etc/apt</string>
	<string>/etc/profile</string>
	<string>/jb</string>
	<string>/Library/MobileSubstrate/DynamicLibraries</string>
	<string>/Library/dpkg/info/com.inoahdev.launchinsafemode.list</string>
	<string>/Library/dpkg/info/com.inoahdev.launchinsafemode.md5sums</string>
	<string>/Library/Frameworks/CydiaSubstrate.framework</string>
	<string>/Library/MobileSubstrate/DynamicLibraries/FlyJB.dylb</string>
	<string>/Library/MobileSubstrate/MobileSubstrate.dylib</string>
	<string>/Library/PreferenceBundles/LaunchInSafeMode.bundle</string>
	<string>/Library/PreferenceLoader/Preferences/LaunchInSafeMode.plist</string>
	<string>/Library/Themes</string>
	<string>/private/var/binpack</string>
	<string>/private/var/checkra1n.dmg</string>
	<string>/tmp/vnodeMem.txt</string>
	<string>/usr/bin/diff</string>
	<string>/usr/bin/hostinfo</string>
	<string>/usr/bin/killall</string>
	<string>/usr/bin/passwd</string>
	<string>/usr/bin/recache</string>
	<string>/usr/bin/tar</string>
	<string>/usr/bin/vnodebypass</string>
	<string>/usr/bin/which</string>
	<string>/usr/bin/xargs</string>
	<string>/usr/bin/ssh</string>
	<string>/usr/lib/libjailbreak.dylib</string>
	<string>/usr/lib/libsubstitute.0.dylib</string>
	<string>/usr/lib/libsubstitute.dylib</string>
	<string>/usr/lib/libsubstrate.dylib</string>
	<string>/usr/lib/SBInject</string>
	<string>/usr/lib/SBInject.dylib</string>
	<string>/usr/lib/TweakInject</string>
	<string>/usr/lib/TweakInject.dylib</string>
	<string>/usr/lib/TweakInjectMapsCheck.dylib</string>
	<string>/usr/libexec/sftp-server</string>
	<string>/usr/sbin/sshd</string>
	<string>/usr/share/terminfo</string>
	<string>/usr/share/vnodebypass/hidePathList.plist</string>
	<string>/var/mobile/fakevar</string>
	<string>/var/mobile/Library/.sbinjectSafeMode</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass-unofficial.plist</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass.plist</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass2.plist</string>
	<string>/var/MobileSoftwareUpdate/mnt1/fakevar</string>
	<string>/var/mobile/Library/Preferences/ABPattern</string>
	<string>/usr/lib/ABDYLD.dylib</string>
	<string>/usr/lib/ABSubLoader.dylib</string>
	<string>/usr/sbin/frida-server</string>
	<string>/etc/apt/sources.list.d/electra.list</string>
	<string>/etc/apt/sources.list.d/sileo.sources</string>
	<string>/jb/lzma</string>
	<string>/jb/offsets.plist</string>
	<string>/usr/share/jailbreak/injectme.plist</string>
	<string>/etc/apt/undecimus/undecimus.list</string>
	<string>/jb/jailbreakd.plist</string>
	<string>/jb/amfid_payload.dylib</string>
	<string>/jb/libjailbreak.dylib</string>
	<string>/usr/libexec/cydia/firmware.sh</string>
	<string>/private/var/Users/</string>
	<string>/var/log/apt</string>
	<string>/private/var/stash</string>
	<string>/private/var/cache/apt/</string>
	<string>/private/var/log/syslog</string>
	<string>/private/var/tmp/cydia.log</string>
	<string>/Applications/Icy.app</string>
	<string>/Applications/MxTube.app</string>
	<string>/Applications/RockApp.app</string>
	<string>/Applications/blackra1n.app</string>
	<string>/Applications/SBSettings.app</string>
	<string>/Applications/FakeCarrier.app</string>
	<string>/Applications/WinterBoard.app</string>
	<string>/Applications/IntelliScreen.app</string>
	<string>/private/var/mobile/Library/SBSettings/Themes</string>
	<string>/Library/MobileSubstrate/CydiaSubstrate.dylib</string>
	<string>/System/Library/LaunchDaemons/com.ikey.bbot.plist</string>
	<string>/Library/MobileSubstrate/DynamicLibraries/Veency.plist</string>
	<string>/Library/MobileSubstrate/DynamicLibraries/LiveClock.plist</string>
	<string>/System/Library/LaunchDaemons/com.saurik.Cydia.Startup.plist</string>
	<string>/var/binpack</string>
	<string>/Library/PreferenceBundles/LibertyPref.bundle</string>
	<string>/Library/PreferenceBundles/ShadowPreferences.bundle</string>
	<string>/Library/PreferenceBundles/ABypassPrefs.bundle</string>
	<string>/Library/PreferenceBundles/FlyJBPrefs.bundle</string>
	<string>/Library/PreferenceBundles/Cephei.bundle</string>
	<string>/Library/PreferenceBundles/SubstitutePrefs.bundle</string>
	<string>/Library/PreferenceBundles/libhbangprefs.bundle</string>
	<string>/usr/lib/libhooker.dylib</string>
	<string>/usr/lib/substrate</string>
	<string>/var/binpack/Applications/loader.app</string>
	<string>/Applications/FlyJB.app</string>
	<string>/Library/BawAppie/ABypass</string>
	<string>/Applications/SubstituteSettings.app</string>
	<string>/Applications/not-a-bypass.app</string>
	<string>/Applications/NewTerm.app</string>
	<string>/.bootstrapped_electra</string>
	<string>/.cydia_no_stash</string>
	<string>/.installed_unc0ver</string>
	<string>/.procursus_strapped</string>
	<string>/etc/apt/sources.list.d/sileo.sources</string>
	<string>/usr/libexec/ssh-keysign</string>
	<string>/etc/ssh/sshd_config</string>
	<string>/etc/ssh/sshd_config</string>
	<string>/usr/share/man</string>
	<string>/usr/share/zsh</string>
	<string>/usr/lib/libellekit.dylib</string>
	<string>/usr/lib/substitute-loader.dylib</string>
	<string>/usr/lib/substitute-launcher.dylib</string>
	<string>/Library/TweakInject</string>
	<string>/Library/MobileSubstrate</string>
	<string>/var/cache</string>
	<string>/var/cache/apt</string>
	<string>/usr/libexec/cydia</string>
	<string>/var/log/dpkg</string>
	<string>/User</string>
	<string>/var/mobile/Library/Sileo</string>
    <string>/var/mobile/Library/Filza</string>
    <string>/var/mobile/Library/Cr4shed</string>
	<string>/var/mobile/Library/Preferences/com.creaturecoding.tweaksettings.plist</string>
	<string>/var/mobile/Library/Preferences/com.ex.substitute.plist</string>
	<string>/var/mobile/Library/Preferences/com.muirey03.cr4shedgui.plist</string>
	<string>/var/mobile/Library/Preferences/com.muirey03.cr4shedprefs.plist</string>
	<string>/var/mobile/Library/Preferences/com.opa334.choicyprefs.plist</string>
	<string>/var/mobile/Library/Preferences/com.ryannair05.cylinder.plist</string>
	<string>/var/mobile/Library/Preferences/com.saurik.Cydia.plist</string>
	<string>/var/mobile/Library/Preferences/com.tigisoftware.Filza.plist</string>
	<string>/var/mobile/Library/Preferences/me.apptapp.installer.plist</string>
	<string>/var/mobile/Library/Preferences/me.lau.AtriaPrefs.plist</string>
	<string>/var/mobile/Library/Preferences/org.coolstar.libhooker.plist</string>
	<string>/var/mobile/Library/Preferences/org.coolstar.SileoStore.plist</string>
	<string>/var/mobile/Library/Preferences/org.coolstar.SileoNightly.plist</string>
	<string>/var/mobile/Library/Preferences/ws.hbang.Terminal.plist</string>
	<string>/var/mobile/Library/Preferences/xyz.willy.Zebra.plist</string>
	<string>/var/lib/dpkg/status</string>
	<string>/usr/lib/ellekit</string>
    <string>/Library/MobileSubstrate/DynamicLibraries/PreferenceLoader.dylib</string>
    <string>/Library/MobileSubstrate/DynamicLibraries/PreferenceLoader.plist</string>
    <string>/prep_bootstrap.sh</string>
    <string>/private/var/lib/apt</string>
    <string>/var/lib/dpkg/info/mobilesubstrate.md5sums</string>
    <string>/var/lib/cydia</string>
    <string>/private/var/lib/cydia</string>
    <string>/var/lib/dpkg</string>
    <string>/var/lib</string>
	<!--   machine generated below -->
	
	<string>/usr/bin/[</string>
    <string>/usr/bin/apply</string>
    <string>/usr/bin/apt</string>
    <string>/usr/bin/apt-cache</string>
    <string>/usr/bin/apt-cdrom</string>
    <string>/usr/bin/apt-config</string>
    <string>/usr/bin/apt-get</string>
    <string>/usr/bin/apt-key</string>
    <string>/usr/bin/apt-mark</string>
    <string>/usr/bin/arch</string>
    <string>/usr/bin/at</string>
    <string>/usr/bin/b2sum</string>
    <string>/usr/bin/base32</string>
    <string>/usr/bin/base64</string>
    <string>/usr/bin/basename</string>
    <string>/usr/bin/basenc</string>
    <string>/usr/bin/bash</string>
    <string>/usr/bin/bashbug</string>
    <string>/usr/bin/captoinfo</string>
    <string>/usr/bin/cat</string>
    <string>/usr/bin/cfversion</string>
    <string>/usr/bin/chcon</string>
    <string>/usr/bin/chflags</string>
    <string>/usr/bin/chfn</string>
    <string>/usr/bin/chgrp</string>
    <string>/usr/bin/chmod</string>
    <string>/usr/bin/chown</string>
    <string>/usr/bin/chpass</string>
    <string>/usr/bin/chroot</string>
    <string>/usr/bin/chsh</string>
    <string>/usr/bin/cksum</string>
    <string>/usr/bin/clear</string>
    <string>/usr/bin/cmp</string>
    <string>/usr/bin/comm</string>
    <string>/usr/bin/compress</string>
    <string>/usr/bin/cp</string>
    <string>/usr/bin/cpuctl</string>
    <string>/usr/bin/csplit</string>
    <string>/usr/bin/cut</string>
    <string>/usr/bin/cvtsudoers</string>
    <string>/usr/bin/dash</string>
    <string>/usr/bin/date</string>
    <string>/usr/bin/dd</string>
    <string>/usr/bin/defaults</string>
    <string>/usr/bin/deviceinfo</string>
    <string>/usr/bin/diff</string>
    <string>/usr/bin/diff3</string>
    <string>/usr/bin/dir</string>
    <string>/usr/bin/dircolors</string>
    <string>/usr/bin/dirname</string>
    <string>/usr/bin/dpkg</string>
    <string>/usr/bin/dpkg-deb</string>
    <string>/usr/bin/dpkg-divert</string>
    <string>/usr/bin/dpkg-maintscript-helper</string>
    <string>/usr/bin/dpkg-query</string>
    <string>/usr/bin/dpkg-realpath</string>
    <string>/usr/bin/dpkg-split</string>
    <string>/usr/bin/dpkg-statoverride</string>
    <string>/usr/bin/dpkg-trigger</string>
    <string>/usr/bin/du</string>
    <string>/usr/bin/echo</string>
    <string>/usr/bin/ecidecid</string>
    <string>/usr/bin/edit</string>
    <string>/usr/bin/editor</string>
    <string>/usr/bin/egrep</string>
    <string>/usr/bin/env</string>
    <string>/usr/bin/ex</string>
    <string>/usr/bin/ex-vi</string>
    <string>/usr/bin/expand</string>
    <string>/usr/bin/expr</string>
    <string>/usr/bin/factor</string>
    <string>/usr/bin/false</string>
    <string>/usr/bin/fgrep</string>
    <string>/usr/bin/find</string>
    <string>/usr/bin/fmt</string>
    <string>/usr/bin/fold</string>
    <string>/usr/bin/fs_usage</string>
    <string>/usr/bin/getconf</string>
    <string>/usr/bin/getent</string>
    <string>/usr/bin/getopt</string>
    <string>/usr/bin/gpgv</string>
    <string>/usr/bin/grep</string>
    <string>/usr/bin/groups</string>
    <string>/usr/bin/gssc</string>
    <string>/usr/bin/head</string>
    <string>/usr/bin/hexdump</string>
    <string>/usr/bin/hostid</string>
    <string>/usr/bin/hostinfo</string>
    <string>/usr/bin/id</string>
    <string>/usr/bin/infocmp</string>
    <string>/usr/bin/infotocap</string>
    <string>/usr/bin/install</string>
    <string>/usr/bin/ipcrm</string>
    <string>/usr/bin/ipcs</string>
    <string>/usr/bin/join</string>
    <string>/usr/bin/jot</string>
    <string>/usr/bin/kill</string>
    <string>/usr/bin/killall</string>
    <string>/usr/bin/lastcomm</string>
    <string>/usr/bin/latency</string>
    <string>/usr/bin/launchctl</string>
    <string>/usr/bin/ldid</string>
    <string>/usr/bin/ldid2</string>
    <string>/usr/bin/ldrestart</string>
    <string>/usr/bin/link</string>
    <string>/usr/bin/ln</string>
    <string>/usr/bin/locate</string>
    <string>/usr/bin/login</string>
    <string>/usr/bin/logname</string>
    <string>/usr/bin/ls</string>
    <string>/usr/bin/lskq</string>
    <string>/usr/bin/lsmp</string>
    <string>/usr/bin/ltop</string>
    <string>/usr/bin/machine</string>
    <string>/usr/bin/md5sum</string>
    <string>/usr/bin/memory_pressure</string>
    <string>/usr/bin/mgask</string>
    <string>/usr/bin/mkdir</string>
    <string>/usr/bin/mkfifo</string>
    <string>/usr/bin/mknod</string>
    <string>/usr/bin/mktemp</string>
    <string>/usr/bin/mv</string>
    <string>/usr/bin/newgrp</string>
    <string>/usr/bin/nice</string>
    <string>/usr/bin/nl</string>
    <string>/usr/bin/nohup</string>
    <string>/usr/bin/nproc</string>
    <string>/usr/bin/numfmt</string>
    <string>/usr/bin/od</string>
    <string>/usr/bin/pagesize</string>
    <string>/usr/bin/passwd</string>
    <string>/usr/bin/paste</string>
    <string>/usr/bin/pathchk</string>
    <string>/usr/bin/pax</string>
    <string>/usr/bin/pinky</string>
    <string>/usr/bin/pr</string>
    <string>/usr/bin/printenv</string>
    <string>/usr/bin/printf</string>
    <string>/usr/bin/ptx</string>
    <string>/usr/bin/purge</string>
    <string>/usr/bin/pwd</string>
    <string>/usr/bin/quota</string>
    <string>/usr/bin/readlink</string>
    <string>/usr/bin/realpath</string>
    <string>/usr/bin/renice</string>
    <string>/usr/bin/reset</string>
    <string>/usr/bin/rm</string>
    <string>/usr/bin/rmdir</string>
    <string>/usr/bin/run-parts</string>
    <string>/usr/bin/runcon</string>
    <string>/usr/bin/savelog</string>
    <string>/usr/bin/sbdidlaunch</string>
    <string>/usr/bin/sbreload</string>
    <string>/usr/bin/sc_usage</string>
    <string>/usr/bin/scp</string>
    <string>/usr/bin/script</string>
    <string>/usr/bin/sdiff</string>
    <string>/usr/bin/sed</string>
    <string>/usr/bin/seq</string>
    <string>/usr/bin/sftp</string>
    <string>/usr/bin/sh</string>
    <string>/usr/bin/sha1sum</string>
    <string>/usr/bin/sha224sum</string>
    <string>/usr/bin/sha256sum</string>
    <string>/usr/bin/sha384sum</string>
    <string>/usr/bin/sha512sum</string>
    <string>/usr/bin/shar</string>
    <string>/usr/bin/shlock</string>
    <string>/usr/bin/shred</string>
    <string>/usr/bin/shuf</string>
    <string>/usr/bin/sleep</string>
    <string>/usr/bin/snaputil</string>
    <string>/usr/bin/sort</string>
    <string>/usr/bin/split</string>
    <string>/usr/bin/ssh</string>
    <string>/usr/bin/ssh-add</string>
    <string>/usr/bin/ssh-agent</string>
    <string>/usr/bin/ssh-copy-id</string>
    <string>/usr/bin/ssh-keygen</string>
    <string>/usr/bin/ssh-keyscan</string>
    <string>/usr/bin/stackshot</string>
    <string>/usr/bin/stat</string>
    <string>/usr/bin/stdbuf</string>
    <string>/usr/bin/stty</string>
    <string>/usr/bin/su</string>
    <string>/usr/bin/sudo</string>
    <string>/usr/bin/sudoedit</string>
    <string>/usr/bin/sudoreplay</string>
    <string>/usr/bin/sum</string>
    <string>/usr/bin/sw_vers</string>
    <string>/usr/bin/sync</string>
    <string>/usr/bin/systime</string>
    <string>/usr/bin/tac</string>
    <string>/usr/bin/tail</string>
    <string>/usr/bin/tar</string>
    <string>/usr/bin/tee</string>
    <string>/usr/bin/tempfile</string>
    <string>/usr/bin/test</string>
    <string>/usr/bin/tic</string>
    <string>/usr/bin/time</string>
    <string>/usr/bin/timeout</string>
    <string>/usr/bin/toe</string>
    <string>/usr/bin/touch</string>
    <string>/usr/bin/tput</string>
    <string>/usr/bin/tr</string>
    <string>/usr/bin/trace</string>
    <string>/usr/bin/true</string>
    <string>/usr/bin/truncate</string>
    <string>/usr/bin/tset</string>
    <string>/usr/bin/tsort</string>
    <string>/usr/bin/tty</string>
    <string>/usr/bin/uialert</string>
    <string>/usr/bin/uicache</string>
    <string>/usr/bin/uiduid</string>
    <string>/usr/bin/uiopen</string>
    <string>/usr/bin/uname</string>
    <string>/usr/bin/unexpand</string>
    <string>/usr/bin/uniq</string>
    <string>/usr/bin/unlink</string>
    <string>/usr/bin/update-alternatives</string>
    <string>/usr/bin/updatedb</string>
    <string>/usr/bin/uptime</string>
    <string>/usr/bin/users</string>
    <string>/usr/bin/vdir</string>
    <string>/usr/bin/vedit</string>
    <string>/usr/bin/vi</string>
    <string>/usr/bin/view</string>
    <string>/usr/bin/w</string>
    <string>/usr/bin/wc</string>
    <string>/usr/bin/what</string>
    <string>/usr/bin/whereis</string>
    <string>/usr/bin/which</string>
    <string>/usr/bin/who</string>
    <string>/usr/bin/whoami</string>
    <string>/usr/bin/xargs</string>
    <string>/usr/bin/xattr</string>
    <string>/usr/bin/yes</string>
    <string>/usr/bin/zsh</string>
</array>
</plist>
