<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>/Library/MobileSubstrate</string>
    <string>/private/var/lib</string>
    <string>/var/lib</string>
    <string>/var/cache</string>
    <string>/private/var/cache</string>
    <string>/cores</string>
    <string>/Library/PreferenceBundles</string>
    <string>/Library/PreferenceLoader</string>
    <string>/usr/share/dpkg</string>
    <string>/usr/share/man</string>
    <string>/usr/share/terminfo</string>
    <string>/usr/share/nano</string>
    <string>/usr/share/polkit-1</string>
    <string>/usr/share/bash-completion</string>
    <string>/usr/share/debianutils</string>
    <string>/usr/share/doc</string>
    <string>/usr/share/examples</string>
    <string>/usr/share/zsh</string>
    <string>/usr/share/skel</string>
</array>
</plist>