Package: com.uckermark.vnodebypass
Name: swiftnodebypass
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Uckermark
Author: Uckermark
Section: Utilities
Depends: ${LIBSWIFT}
